Act1(RPi).json
[{"id":"b9a4e4a0.63b778","type":"tab","label":"Lab 3 - 1","disabled":false,"info":""},{"id":"5b9bfac1.f606a4","type":"inject","z":"b9a4e4a0.63b778","name":"","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":140,"wires":[["10257172.dbc9bf"]]},{"id":"10257172.dbc9bf","type":"random","z":"b9a4e4a0.63b778","name":"","low":"1","high":"10","inte":"true","property":"payload","x":310,"y":140,"wires":[["2b27751f.a74e1a"]]},{"id":"2b27751f.a74e1a","type":"function","z":"b9a4e4a0.63b778","name":"Format data","func":"msg.payload = { 'd' : { 'random' :  msg.payload }};\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":140,"wires":[["45c5e92.f224518","d70f5b32.6251f8"]]},{"id":"45c5e92.f224518","type":"debug","z":"b9a4e4a0.63b778","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":120,"wires":[]},{"id":"d70f5b32.6251f8","type":"wiotp out","z":"b9a4e4a0.63b778","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"52498837.1d4908","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":750,"y":180,"wires":[]},{"id":"52498837.1d4908","type":"wiotp-credentials","z":"","name":"pi","org":"vltyyy","serverName":"","devType":"raspberrypiGW","devId":"08002709d706","keepalive":"60","cleansession":true,"tls":"","usetls":false}]