Act2(Bluemix).json
[{"id":"9ebf00ab.c9dd6","type":"tab","label":"Lab 3 - 2","disabled":false,"info":""},{"id":"1662249e.6ff62b","type":"ibmiot out","z":"9ebf00ab.c9dd6","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"08002709d706","deviceType":"raspberrypi","eventCommandType":"statusindicator","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":580,"y":140,"wires":[]},{"id":"bbb7d566.b2fac8","type":"inject","z":"9ebf00ab.c9dd6","name":"","topic":"","payload":"Normal","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["d11289d.961d278"]]},{"id":"97f6b844.13a5d8","type":"inject","z":"9ebf00ab.c9dd6","name":"","topic":"","payload":"Alert","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":200,"wires":[["d11289d.961d278"]]},{"id":"d11289d.961d278","type":"function","z":"9ebf00ab.c9dd6","name":"","func":"msg.payload = { \"a\" : { \"indicator\" : msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":140,"wires":[["2795c969.5f8ab6"]]},{"id":"2795c969.5f8ab6","type":"json","z":"9ebf00ab.c9dd6","name":"","property":"payload","action":"","pretty":false,"x":430,"y":140,"wires":[["1662249e.6ff62b"]]}]