Act3(RPi).json
[{"id":"e5568369.7cd09","type":"tab","label":"Flow 3 - 3","disabled":false,"info":""},{"id":"21239c0a.420ac4","type":"rpi-sensehatsim in","z":"e5568369.7cd09","name":"","motion":false,"env":true,"stick":false,"x":160,"y":160,"wires":[["7c954ce4.10dd54"]]},{"id":"7c954ce4.10dd54","type":"delay","z":"e5568369.7cd09","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":160,"wires":[["8994be11.217d1"]]},{"id":"8994be11.217d1","type":"function","z":"e5568369.7cd09","name":"Env. Data","func":"msg.payload = {\"Data\" : {\"Environment\" : msg.payload}};\nmsg.deviceType = \"senseHat\";\nmsg.deviceId =\"senb080027d05ed0\";\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":160,"wires":[["42989a1.c6fb064","d6c98e01.49d6c"]]},{"id":"42989a1.c6fb064","type":"debug","z":"e5568369.7cd09","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":160,"wires":[]},{"id":"d6c98e01.49d6c","type":"wiotp out","z":"e5568369.7cd09","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"52498837.1d4908","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":710,"y":220,"wires":[]},{"id":"52498837.1d4908","type":"wiotp-credentials","z":"","name":"pi","org":"vltyyy","serverName":"","devType":"raspberrypiGW","devId":"080027d05ed0","keepalive":"60","cleansession":true,"tls":"","usetls":false}]